.card {
    transform: scale(1.0);
    transition: transform 170ms;
    border: 2px solid darkgray;
    width: 22rem;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 99;
    background-color: lightgray;
    border: 1px ridge black;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}



.card:hover {
    transform: scale(1.08);
    cursor: pointer;
}
