nav{
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #233142;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: #17cf97;
}

#navbar li a:hover::after,
#navbar li a:active::after {
    content: "";
    width: 30%;
    height: 2px;
    background:#17cf97;
    position:absolute;
    bottom: -4px;
    left:20px;
}

#mobile{
display: none;
}

#mobile i{
    color: white;
    align-items: center;
}

@media screen and (max-width:769px) {
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position:fixed;
        top: 71px;
        right: -1000px;
        width: 300px;
        height: 100vh;
        z-index: 1000;
        background: #2a3239;
        box-shadow: 0 40px 60px rgba(0,0,0,.1);
        padding:40px 0 0 10px;
    }

    #navbar.active{
        right: 0px;

        transform: scale(1.0);
        transition: transform 170ms;

    }

    #navbar li{
        margin-bottom: 25px;

    }

    #mobile {
        display:block;

    }

    #mobile i {
        font-size: 24px;
        cursor:pointer;
    }
}

.label {
    transform: scale(1.0);
    transition: transform 170ms;
}



.label:hover {
    transform: scale(1.08);
}

.logo {
    transform: scale(1.0);
    transition: transform 170ms;
}



.logo:hover {
    transform: scale(1.08);
}

#ourLogo {
    width:80px;
    height:56pxpx;
    fill: none;
}