/* .pagination {
    display: absolute;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    float: right;
} */

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #eee;
    border-color: #eee;
    transform: scale(1.0);
    transition: transform 170ms;
}

.pagination button:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.pagination button.active {
    font-weight: 1000;
    border-color: #101010;
    background-color: #233142;
    color: #17cf97;
}

.pagination button {
    background-color: white;
    color: blue;
    border: 1px solid #555;
}