#center {
    width: 400px; 
    margin: auto; 
    /*text-align: center;*/
    
    /* Optional Styling */
    padding: 20px;  
    border-style: solid;
    border-color: #ffffff;
    border-radius: 20px;
    background-color: #EAF0F6;
   
  }
body {
    text-align: center;
    background-color: black;
}

.card {
    text-align: center;
    
    /* Optional Styling */
    padding: 20px;
    border-radius: 20px;
    background-color: #EAF0F6;
    
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  
  }

  #notification {
    font-size:0;
    padding: 20px;  
    display: inline-block;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

#date_pane{
    padding: 20px;  
    font-size:12px;
    display: inherit;
    height: inherit;
    width:30%;
    border-style: solid;
    border-color: lightgray;
    border-radius: 15px;
    background-color: #EAF0F6;
    background-color:rgb(255, 255, 255);
    margin-right: 30px;
}

#text_pane{
    padding: 20px;  
    font-size:12px;
    display: inherit;
    height: inherit;
    width: 30%; 
    border-style: solid;
    border-color: lightgray;
    border-radius: 15px;
    background-color: #EAF0F6;
    background-color:white;        
}

#arrow_pane{
    padding: 20px;  
    font-size:12px;
    display: inherit;
    height: inherit;
    width:30%;
    border-style: solid;
    border-color: lightgray;
    border-radius: 15px;
    background-color: #EAF0F6;
    background-color:white;
    margin-left: 30px;
}

