.aboutTitle {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.aboutBody {
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#howItWorks{
    background-color: lightgrey;
    padding: 10px;
    margin: 0px;
    flex-direction: column;
}

#repoStats{
    background-color: rgb(220, 230, 250);
    padding: 10px;
    margin: 0px;
    flex-direction: column;
}

#apiHeader{
    margin-top: 50px;
    text-align: center;
}

#postman{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
