.artistTitle {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    
    box-shadow: 0,0,0,.1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#artistIm{
    background-repeat: repeat;
    background-size: 50%;
    background-position: relative;
}


