.genresTitle {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    background: lightblue;
    box-shadow: 0,0,0,.1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rheostat-handle-min.disabled,
.rheostat-handle-max.disabled {
  background-color: #ccc;
  cursor: default;
}