.songsTitle {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    background: lightblue;
    box-shadow: 0,0,0,.1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
}

#pag {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    float: center;
    background-color: transparent;
}

#test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    float: right;
}
